@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Black.ttf) format("truetype");
}

body {
  color: #eee;
  margin: 0;
  font-family: Roboto;
}

main {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-Global {
  background: linear-gradient(black, #011420, #0e3249, #011420, black);
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.checkbox-wrapper-5 .check {
  --size: 40px;

  position: relative;
  background: linear-gradient(
    90deg,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50,
    #0e3249,
    #e09e50
  );
  line-height: 0;
  perspective: 400px;
  font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
  appearance: none;
  display: inline-block;
  border-radius: var(--size);
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.checkbox-wrapper-5 .check label {
  width: calc(2.2 * var(--size));
  height: var(--size);
  background: #fffefe;
  overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: calc(0.8 * var(--size));
  height: calc(0.8 * var(--size));
  top: calc(0.1 * var(--size));
  left: calc(0.1 * var(--size));
  background: linear-gradient(45deg, #f9c27e, #e09e50);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
  left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
  background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: calc(0.15 * var(--size));
  top: calc(0.5 * var(--size));
  height: var(--size);
  letter-spacing: calc(-0.04 * var(--size));
  color: #000000;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: calc(0.6 * var(--size));
  border-radius: 0;
  transform-origin: 0 0 calc(-0.5 * var(--size));
  backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
  content: "●";
  top: calc(0.65 * var(--size));
  left: calc(0.2 * var(--size));
  height: calc(0.1 * var(--size));
  width: calc(0.35 * var(--size));
  font-size: calc(0.2 * var(--size));
  transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
  left: calc(1.55 * var(--size));
  top: calc(0.4 * var(--size));
  line-height: calc(0.1 * var(--size));
  transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
  height: calc(0.16 * var(--size));
  top: calc(0.55 * var(--size));
  left: calc(1.6 * var(--size));
  font-size: calc(0.6 * var(--size));
  line-height: 0;
}

.light-theme {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
}

.light-theme .card {
  background-color: white;
}

.clickCheck {
  visibility: hidden;
}
