@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Black.ttf) format("truetype");
}

body {
  color: #eee;
  margin: 0;
  font-family: Roboto;
}

main {
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-Global {
  background: linear-gradient(black, #011420, #0e3249, #011420, black);
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
}

@media screen and (min-width: 800px) {
  main {
    padding-bottom: 8rem;
  }
}
