.card {
  border: 3px solid #e09e50;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background-color: rgba(30, 30, 30, 0.321);
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 20rem;
  margin-top: 70px;
  max-height: 30rem;
}

.teamContainer {
  margin: 0;
  padding: 0;
  color: antiquewhite;
  background: linear-gradient(black, #011420, #0e3249, #011420, black);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.romDesc {
  width: 70vw;
  margin: 2rem;
  text-align: center;
  border: 3px solid #e09e50;
  border-radius: 20px;
  padding: 2rem;
}
.alpDesc {
  width: 70vw;
  margin: 2rem;
  text-align: center;
  border: 3px solid #e09e50;
  border-radius: 20px;
  padding: 2rem;
}
.thienDesc {
  width: 70vw;
  margin: 2rem;
  text-align: center;
  border: 3px solid #e09e50;
  border-radius: 20px;
  padding: 2rem;
}
.alpImg,
.romainImg {
  width: 50%;
  margin-bottom: 1rem;
}

.figure {
  position: relative;
}

.figure img.sirv.image-main {
  width: 100%;
}

.figure img.sirv.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}

.figure:hover img.sirv.image-hover {
  opacity: 1;
}

.backButton {
  align-self: flex-end;
  margin: 1rem;
  text-decoration: none;
  color: antiquewhite;
}

.teamMember {
  font-size: large;
  padding-bottom: 1rem;
}

.descMember {
  text-align: justify;
}
@media screen and (min-width: 801px) {
  .teamContainer {
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background: linear-gradient(black, #011420, #0e3249, #011420, black);
    flex-direction: row;
    height: 48vw;
    justify-content: space-evenly;
  }
  .thienDesc .alpDesc .romDesc {
    width: 80vw;
    padding: 2rem;
    border: 3px solid #e09e50;
    border-radius: 20px;
  }

  .alpImg,
  .romainImg,
  .thienImg {
    width: 50%;
  }
  .backButton {
    text-decoration: none;
    color: antiquewhite;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem;
  }
}
