@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.TeamContainer {
  margin: 0;
  padding: 0;
  color: #e09e50;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Desc {
  width: 30vh;
}

.Desc h2 {
  color: #e09e50;
}

.AlpImg,
.RomainImg,
.ThienImg {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .TeamContainer {
    height: 60vw;
  }
}
