.container {
  border: 3px solid #e09e50;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background-color: rgba(30, 30, 30, 0.321);
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  min-height: 30vh;
}

.picDescOver {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.selected-topRated {
  font-size: 25px;
}
.principalDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.dateRate {
  max-width: 140px;
  text-align: left;
}

.imgDiv {
  max-width: 120px;
  height: 100%;
}

.imgDiv img {
  width: 100%;
  padding: 0;
}

.overview {
  text-align: justify;
  margin-bottom: 6rem;
  margin-top: 1rem;
}

h1,
h2 {
  color: #e09e50;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.selected-genre {
  font-size: 25px;
}

.rating {
  color: #e09e50;
}

.text {
  color: #eee;
  text-align: center;
  height: 100%;
}

.button-watch {
  width: 80%;
  padding: 0.6em 2em;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
  outline: none;
  color: #eee;
  background: #111;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  bottom: 0;
}

.button-watch:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  bottom: 0;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-watch:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

.light-theme .container {
  background-color: white;
  color: black;
}
